/*COLORS
 Azure-BLUE-D : #3c59a9
 Danube-BLUE L : #6997cc
 Gray Suit : #c9c5cc
 Shark-black : #191c1f
 */



/* GOOGLE FONTS
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*GOOGLE FONT
***********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&family=Roboto:ital,wght@1,300&display=swap');




/*GLOBAL
***********************************************************/
body {
    font-family: 'Open Sans', sans-serif;
    
}

p {
    font-size: 1.2em;
    line-height: 150%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
    overflow-x: hidden;
}
/*LAYUOT
***********************************************************/
#mainNav {
    width: 100%;
    height: 100px;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    letter-spacing: 1px;
    z-index: 202;
}

nav ul {
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 1%;
    overflow: hidden;
    margin: 0;
    transition: 1s;
}

#mainNav ul li {
    display: inline;
    margin-right: -5px;
}

#mainNav ul li:last-child {
    margin-right: 0;
}

#mainNav ul li a {
    color: #FFF;
    line-height: 100px;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.7s;
}

#mainNav ul li a:hover {
    border-bottom: 2px solid #3c59a9;
    transition: 0.2s ease-in;
    /* text-shadow: 0 0 10px #FFF; */
}


#mainHeader {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/header02.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
}

#mainHeader h1 {
    font-size: 10em;
    color: #FFF;
    padding: 20% 0 0 20%;
    font-weight: bolder;
    text-shadow: 3px 3px 6px #000;
}

#mainHeader h5 {
    font-size: 3.5em;
    color: #FFF;
    padding: 1% 0 0 20%;
}

#mainNav.white
 {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.849);
    z-index: 201;
    transition: all 0.6s ease;
}

#mainNav.white ul li a {
    color: #000 !important;
    font-weight: 900;

}

#mainNav.white ul li a:hover {
    border-bottom: 2px solid #3c59a9 !important;
    transition: 0.2s !important;
}





/*REUSABLE CLASSES
***********************************************************/

.logoMobile {
    display: none;
}

.logo {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 190px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
    z-index: 110;
}

.content {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

.slicknav_menu {
    display: none;
}

.current {
    border-bottom: 3px solid #3c59a9;
    cursor: default;
}

.welcome {
    background-image: url(../images/body_background.webp);
    background-attachment: fixed;
    background-size: cover;
    padding: 5% 0;
    z-index: -3003;
}

img.imgWelcome {
    position: relative;
    left: -50%;
    opacity: 0;
}
.welcomeImg {
    position: relative;
    height: 110%;
}
.welcomeImg img {
    width: 90%;
    border-radius: 10px;
    margin-left: 0;
}

.videoNadzorImg img {
    width: 90%;
    border-radius: 10px;
    margin: 50% 0;
}

.parallelogram {
    height: 110%;
    position: absolute;
    left: 0%;
    top: -5%;
    opacity: 0;
}

.para1 {
    position: relative;
    right: -100%;
    padding: 5% 0% 5% 2%;
    opacity: 0;
}

.para2 {
    position: relative;
    top: 0%;
    left: -100%;
    padding: 5% 0%;
    opacity: 0;
}

.textH {
    position: relative;
    top: -100%;
    left: 0%;
    padding: 5% 0;
    opacity: 0;
}

.welcome h2, .contactUs h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.welcome h5 {
    text-align: center;
    font-size: 1.5em;
    padding: 0 15%;
    font-weight: 700;
}

.para2 ul li {
    display: block;
    padding: 1%;
}

.mesImg {
    padding: 10% 0% 10% 5%;
    position: relative;
}

.mesImg img {
    position: relative;
    right: -5%;
    width: 95%;
    margin: 0;
    border-radius: 10px;
}

/* .bgBlue {
    width: 100%;
    background-color: #3c59a9;
}

div.bgBlue.blue {
    margin-top: -10%;
    padding: 10% 1%;
    clip-path: polygon(100% 30%, 0% 70%, 100% 100%);
    transition: 0.2s !important;
} */

/*USLUGE
*********************************************************************/


.uslugeImg img {
    position: relative;
    left: -200%;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 25% 0;
    box-shadow: 3px 3px 9px #3c59a9;
    opacity: 0;
}

.uslugeList {
    position: relative;
    right: -50%;
    opacity: 0;
}


/*ACCORDION
*************************************************************************/
.uslugeAccordion {
    background-color: #c9c5cc;
    padding: 5% 0;
}

.uslugeAccordion h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 1% 0;
    position: relative;
    left: -50%;
    /* padding-bottom: 1em; */
    opacity: 0;
}

.uslugeAccordion button {
    background-color: #3c59a9;
    color: #FFF;
}

.uslugeAccordion button:hover {
    background-color: #6997cc;
    color: #FFF;
    text-decoration: none;
}

div.uslugeAccordion.gray {
    clip-path: polygon(0 0, 0 100%, 2000% 200%);
    transition: 0.9s !important;
}

.accordion {
    width: 95%;
    position: relative;
    right: -5%;
    padding-top: 25%;
}

.card {
    border-radius: 10px;
    background-color: #FFF;
}

.interfoniPara {
    margin: 10% 0%;
}

.interfoniPara p {
    font-size: 1.5em;
    opacity: 0;
}

.inerfonImg img {
    margin-top: 50%;
}

/*GALLERY
*************************************************************************************/
.fullImg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 300;
}

.fullImg img {
    width: 90%;
    max-width: 650px;
}

.fullImg span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2.7rem;
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.fullImg span:hover {
    color: red;
    background-color: #3b5998;
}

.fullImg i {
    font-size: 3rem;
    color: #FFF;
    position: absolute;
    transition: all 0.3s ease;
    padding: 10px;
}

.fullImg i:hover {
    color: #3c59a9;
}

.fullImg .fa-chevron-left {
    left: 5%;
    cursor: pointer;
}

.fullImg .fa-chevron-right {
    right: 5%;
    cursor: pointer;
}


.videoNadzor {
    padding-bottom: 5%;
}

.galleryH {
    padding-bottom: 2em;
}

.galleryImg,
.galleryImgInt {
    max-width: 15%;
    margin: 2% auto;
}

.gallery {
    width: 100%;
    background-color: #3b589888;
    padding: 0 3%;
    border-radius: 10px;
}

/* .galleryImg:nth-child(6) {
    margin-right: 0;
} */

/* .galleryImg img {
    border: 1px solid #c9c5cc;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #3c59a9;
    padding: 3%;
} */

.galleryImg img:hover,
.galleryImgInt img:hover {
    opacity: 0.5;
    transition: 0.8s ease;
    cursor: pointer;
}

/*CONTACT US
******************************************************************************/
.contactUs {
    background-image: url(../images/body_background.webp);
    background-attachment: fixed;
    background-size: cover;
    z-index: -3003;
}


.kontaktTel, .email {
    margin: 10% 0 5%;
}

.kontaktTel ul li, .email {
    font-size: 1.2em;
    text-align: left;
    list-style: none;
    padding: 3%;
}

.kontaktTel ul li a {
    -moz-position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -ms-position: relative;
    position: relative;
    left: -100%;
    opacity: 0;
}

.email p {
    -moz-position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -ms-position: relative;
    position: relative;
    left: -70%;
    opacity: 0;
    text-align: right;
}

.kontaktTel ul li a,  .email p a {
    text-decoration: none;
    color: #3f3f3f;
    padding: 10px;
    border-radius: 25px;
}

.kontaktTel ul li a:hover,  .email p a:hover {
    background-color: #6997cc;
    color: #FFF;
    transition: all 0.5s ease;
}

.cacak {
    -moz-position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -ms-position: relative;
    position: relative;
    left: -100%;
}

.beograd h4, .beograd iframe {
    -moz-position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -ms-position: relative;
    position: relative;
    right: -200%;
    overflow-x: hidden;
}

.cacak, .beograd, .socialMedia {
    display: block;
    text-align: center;
    margin: 5% 0 10%;
}

.cacak h4, .beograd h4, .socialMedia h4 {
    font-size: 2em;
    padding-bottom: 6%;
    font-weight: 700;
}

.cacak iframe {
    width: 90%;
    border-radius: 10px;
    margin-right: 10%;
}

.beograd iframe {
    width: 90%;
    border-radius: 10px;
    margin-left: 9%;
}

.social {
    margin-bottom: 15%;
}

.socialMedia {
    -moz-position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -ms-position: relative;
    position: relative;
    left: -100%;
}

.social a {
    -moz-position: relative;
    -webkit-position: relative;
    -o-position: relative;
    -ms-position: relative;
    position: relative;
    left: -200%;
}

.social a {
    font-size: 4em;
    padding:0 0.5em ;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram-square {
    color: #517fa8;
}

.fa-facebook-square:hover, .fa-instagram-square:hover {
    color: #d5d5d5;
    transition: 0.5s ease;
}


/*FOOTER
***********************************************************/
#mainFooter {
    font-size: 1em;
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding: 2em 0 0;
    z-index: 100;
}

#mainFooter a {
    display: block;
    margin: 0.5em 0;
    text-decoration: none;
    color: #d5d5d5;
}

#mainFooter a:hover {
    color: #3c59a9;
    transition: 0.4s ease;
}

#mainFooter a img {
    width: 150px;
    height: auto;
    background-color: #d5d5d554;
    border-radius: 5px;
}

hr.light {
    border: 1px solid #d5d5d5;
    width: 75%;
    padding: 1em auto;
    background-color: #FFF;
}

hr.light100 {
    border: 0.5px solid #d5d5d5;
    width: 95%;
    margin: 1em auto;
    color: #d5d5d5;
}

.contact {
    display: block;
    text-align: center;
}

.lokacija h5 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 5%;
}

.lokacija a {
    text-align: center;
}

.footer {
    text-align: center;
    padding: 1% 0;
}

.footer h5 {
    font-size: 0.9em;
    text-align: center;
}

.footer p {
    font-size: 0.8em;
}

.powerBy p {
    font-size: 0.8em;
    text-align: center;
}

/*MEDIA QUERIES
****************************************************************************************************************/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .wrapper {
        width: 98%;
    }

    /*    HAMBURGER*/
    #menu {
        display: none;
        position: fixed;
        z-index: 100;
    }

    .slicknav_menu {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    #mainNav {
        display: none;
    }

    .logoMobile {
        position: fixed;
        display: block;
        top: 5px;
        left: 20px;
        width: 120px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 10px;
        z-index: 200;
    }

    #mainHeader {
        width: 100%;
        height: auto;
        background-image: url(../images/images-sm/headerMobile.png);
        -webkit-background-attachment: scroll;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        z-index: -100;
    }

    #mainHeader h1 {
        font-size: 7em;
        padding: 0;
        text-align: center;
        margin: 60% 0 0;
    }

    #mainHeader h5 {
        font-size: 1.9em;
        padding: 0;
        text-align: center;
        margin: 5% auto;
    }

    .welcome, .contactUs {
        background-image: url(../images/images-sm/body_background-sm1.webp);
        background-position: center center;
        background-repeat: repeat-y;
        z-index: -1005;
    }

    .welcomeImg {
        display: flex;
    }

    .welcomeImg img {
        width: 80%;
        margin: 0 auto;
    }

    .welcome h2 {
        text-align: center;
        font-size: 2.4em;
        font-weight: bolder;
        padding: 7% 0 5%;
    }

    .welcome h5 {
        text-align: left;
        font-size: 1.1em;
        padding: 0 15%;
        font-weight: 700;
    }

    .welcome p {
        font-size: 1em;
        right: -100%;
    }

    .textH {
        position: relative;
        top: -46%;
        left: 0%;
        padding: 10% 5% 5%;
    }

    .interfoniPara p {
        font-size: 1.2em;
    }

    .para2 {
        padding-top: 0;
        margin-top: 0;
    }

    .para2 ul li {
        padding: 1% 0;
    }

    .mesImg {
        width: 100%;
        display: flex;
        padding: 5% 0 ;
    }

    .mesImg img {
        width: 80%;
        right: 0;
        margin: 0 auto;
        padding: 0;
    }

/* HR
******************************************************************* */
    .bgBlue {
        width: 100%;
        height: 30%;
        background-color: #3c59a9;
    }

    div.bgBlue.blue {
        margin-top: -15%;
        padding: 0% 1%;
        clip-path: polygon(100% 0%, -100% 50%, 100% 50%);
        transition: 0.2s !important;
    }

    .uslugeAccordion {
    background-color: #c9c5cc;
}

div.uslugeAccordion.gray {
    clip-path: polygon(0% 0%, 0 100%, 3000% 100%);
    transition: 0.9s !important;
}
    
    .uslugeAccordion h2.uslugeH {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    padding: 10% 0 5%;
}

.uslugeImg {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 0%;
}

.uslugeImg img {
    width: 80%;
    margin: 5% 0;
}

.uslugeList {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 5%;
}

.accordion {
    padding-top: 5%;
}

.accordion ul li {
    font-size: 0.8em;
}

.contactUs h2 {
    font-size: 2.5em;
}

.kontaktTel ul {
    margin: 0;
}

.kontaktTel ul li {
    text-align: center;
    padding: 3% 0;
}

.cacak iframe {
    margin: 0;
}

.beograd iframe {
    margin: 0;
}

.email p {
    font-size: 0.8em;
    text-align: center;
}

.social a {
    font-size: 3em;
    padding:0 0.5em ;
}


    
    

    /*FOOTER*/


    .footer h5 {
        font-size: 0.5em;
        text-align: center;
    }

    .footer p {
        font-size: 0.9em;
    }

    .lokacija a {
        font-size: 0.9em;
    }

    .powerBy a p {
        font-size: 0.5em;
        text-align: center;
    }

    
}

/* Small devices (landscape phones, less than 768px) 
**************************************************************************************************/
@media (min-width: 576px) and (max-width: 767.98px){
    .wrapper {
        width: 98%;
    }
    
    /*    HAMBURGER*/
    #menu {
        display: none;
        position: fixed;
        z-index: 100;
    }

    .slicknav_menu {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    #mainNav {
        display: none;
    }

    .logoMobile {
        position: fixed;
        display: block;
        top: 5px;
        left: 20px;
        width: 120px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 10px;
        z-index: 200;
    }

    #mainHeader {
        width: 100%;
        height: auto;
        background-image: url(../images/header770.webp);
        position: relative;
        background-attachment: scroll;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        z-index: -100;
    }

    #mainHeader h1 {
        font-size: 7em;
        padding: 0;
        text-align: center;
        margin: 60% 0 0;
    }

    #mainHeader h5 {
        font-size: 1.9em;
        padding: 0;
        text-align: center;
        margin: 5% auto;
    }

    .welcomeImg {
        display: flex;
    }
    .welcomeImg img {
        width: 80%;
        border-radius: 10px;
        margin: 0 auto;
    }

    .welcomeText {
        margin-top: 10%;
    }
    .para1 {
        padding-left: 0;
        padding-bottom: 0;
    }

    .para2 {
        padding-top: 2%;
    }

    .mesImg {
        width: 100%;
        display: flex;
        padding-left: 0;
    }

    .mesImg img {
        width: 80%;
        right: 0;
        margin: 0 auto;
    }

    .welcomeImg {
        margin: 10% 0;
    }

    .uslugeAccordion h2 {
        margin: 5% 0;
    }

    .uslugeImg {
        display: flex;
    }
    .uslugeImg img {
        width: 80%;
        margin: 0 auto;
    }

    .accordion {
        width: 100%;
        padding-top: 10%;
        right: 0;
    }

    div.uslugeAccordion.gray {
        clip-path: polygon(0% 0%, 0 100%, 4000% 100%);
        transition: 0.9s !important;
    }

    .interfoniPara {
        margin: 0;
    }

    .galleryH {
        padding: 5% 0;
    }

    .kontaktTel ul {
        margin: 0;
    }

    .kontaktTel ul li {
        text-align: center;
        padding: 3% 0;
    }

    .cacak iframe {
        margin: 0;
    }

    .beograd iframe {
        margin: 0;
    }

    .email p {
        font-size: 0.8em;
        text-align: center;
    }

    
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        width: 95%;
    }
    p {
        font-size: 1em;
    }

    .logoMobile {
        display: none;
    }

    .logo {
        margin-top: 15px;
        width: 150px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 10px;;
    }

    #mainHeader {
        width: 100%;
        height: 100vh;
        background-image: url(../images/header1200.webp);
        position: relative;
        background-attachment: fixed;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        z-index: 100;
    }

    #mainHeader h1 {
        font-size: 7em;
        padding: 0;
        text-align: center;
        margin: 30% 0 0;
    }

    #mainHeader h5 {
        font-size: 1.9em;
        padding: 0;
        text-align: center;
        margin: 5% auto;
    }

    .welcomeImg {
        margin: 10% 0;
    }

    .welcomeImg img {
        width: 96%;
        border-radius: 10px;
    }
    .welcome h2 {
        font-size: 2.3em;
    }
    .welcome h5 {
        font-size: 1.3em;
    }

    .email p {
        font-size: 0.9em;
    }
}

@media (min-width: 993px) and (max-width: 1079px) {
    .wrapper {
        width: 90%;
    }

    .logo {
        margin-top: 15px;
        width: 150px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 10px;
    }

    .welcome h2 {
        font-size: 2.6em;
    }

    .welcome h5 {
        padding: 0;
    }

    .welcomeImg {
        margin: 10% 0;
    }

    .parallelogram {
        height: 110%;
        position: absolute;
        left: 0%;
        top: -5%;
        opacity: 0;
    }
}


/* Large devices (desktops, less than 1200px) */
@media screen and (min-width: 1080px)and (max-width: 1199px) {

    .logo {
        margin-top: 15px;
        width: 150px;
        height: auto;
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 10px;
    }

    #mainHeader {
        width: 100%;
        height: 100vh;
        background-image: url(../images/header1200.webp);
        position: relative;
        background-attachment: scroll;
        top: 0px;
        left: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        z-index: 100;
    }

    #mainHeader h1 {
        font-size: 7em;
        padding: 0;
        text-align: center;
        margin: 30% 0 0;
    }

    #mainHeader h5 {
        font-size: 1.9em;
        padding: 0;
        text-align: center;
        margin: 5% auto;
    }

    .welcomeImg {
        margin: 10% 0;
    }

    .parallelogram {
        height: 110%;
        position: absolute;
        left: 0%;
        top: -5%;
        opacity: 0;
    }

}







/*GOOGLE FONT
***********************************************************/
@media screen and (max-width:567px) {}
